@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  padding: 50px;
  background-color: #efefefef;
  color: #2f2f2f;
}

.ImgCard img {
  width: 100px;
  border-radius: 50%;
  border: 5px solid #2f2f2f;
  padding: 5px;
  margin: 15px;
  transition: all 0.3s;
}

.ImgCard img:hover{
  scale: 110%;
}